<main>
    <section class="car_details-body">
        <div class="detail-banner">
            <img class="img-banner" src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw6d52ff2a/images/PDP/vf9/img-top.webp" alt="">
            <img class="logo-banner" src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw35996990/images/PDP/vf9/logo-top-VF9.webp" alt="">
            <span class="text-banner">LỰA CHỌN TẬN HƯỞNG ĐẲNG CẤP</span>
        </div>
        <div class="content"> 
            
            <div class="content col1">
                <span class="car_name">Mẫu SUV cỡ lớn hạng sang</span>
                <span class="car_descript">VF 9 là mẫu xe SUV 7 chỗ hàng đầu của VinFast. Với kiểu dáng tinh tế, công nghệ tiên tiến nhất và sự tỉ mỉ trong từng chi tiết, VF 9 mang đến trải nghiệm đặc biệt cao cấp cho người sở hữu.</span>
                
                <div class="col1_content">
                    <span class="content_title">Mã xe</span>
                    <span class="content_descript">VF9_VN001</span>
                </div>
                <div class="col1_content">
                    <span class="content_title">Tên</span>
                    <span class="content_descript">VF9</span>
                </div>
                <div class="col1_content">
                    <span class="content_title">Giá chỉ từ</span>
                    <span class="content_descript">1.419.000.000 VND</span>
                </div>
                <div class="col1_content">
                    <span class="content_title">Mã SKU</span>
                    <span class="content_descript">VF9VN1S7</span>
                </div>
                <div class="field-buttons">
                    <span class="btn btn-primary">MUA NGAY</span>
                    <span class="btn btn-outline-primary">THÊM VÀO GIỎ HÀNG</span>
                </div>
            </div>

            <div class="content col2">
                <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw45285820/images/PDP/vf9/img-banner-top.webp" alt="">
                <div class="listImage">
                    <!-- <img class="imgage" *ngFor="let image of filteredImageList" [src]="image" (click)="thumnailImage(image)"/> -->
                    <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw45285820/images/PDP/vf9/img-banner-top.webp" alt="">
                    <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw45285820/images/PDP/vf9/img-banner-top.webp" alt="">
                    <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw45285820/images/PDP/vf9/img-banner-top.webp" alt="">
                    <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw45285820/images/PDP/vf9/img-banner-top.webp" alt="">
                </div>
            </div>

            <div class="content col3">
                <div class="detail_info">
                    <span class="info_title">300 kW - 402 hp</span>
                    <span>Công suất tối đa lên tới</span>
                </div>
                <div class="detail_info">
                    <span class="info_title">6,8 giây</span>
                    <span> Thời gian tăng tốc từ 0 - 100 km/h chỉ từ</span>
                </div>
                <div class="detail_info">
                    <span class="info_title">626 km/lần sạc đầy</span>
                    <span>Quãng đường di chuyển lên tới</span>
                    
                </div>
                <div class="detail_info">
                    <span class="info_title">11</span>
                    <span>Túi khí</span>
                </div>
                <div class="detail_info">
                    <span class="info_title">Bảo hành xe 10 năm</span>
                    <span>(hoặc 200.000 km)</span>
                </div>
                <div class="detail_info">
                    <span class="info_title">7</span>
                    <span>Số ghế ngồi</span>
                </div>
            </div>
        </div>
    </section>
</main>
