<main>
  <section class="listing">
    <img class="listing-photo" [src]="carLocation.photo" alt="">
    <h2 class="listing-heading">{{ carLocation.name }}</h2>
    <p class="listing-price">Price: {{ carLocation.price}}VND</p>
    <div class="function">
      <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
      <i class='bx bxs-cart-add'></i>
    </div>
  </section>

  <section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
  </section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>

<section class="listing">
  <img class="listing-photo" [src]="carLocation.photo" alt="">
  <h2 class="listing-heading">{{ carLocation.name }}</h2>
  <p class="listing-price">Price: {{ carLocation.price}}VND</p>
  <div class="function">
    <button class="btn btn-primary" [routerLink]="['/car_details']">Xem chi tiết</button>
    <i class='bx bxs-cart-add'></i>
  </div>
</section>
</main>