<section class="section-products">
        <div class="container">
                <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <h1>Cafe shop</h1>
                                </div>
                        </div>
                </div>

                <div class="row">

                        <div *ngFor="let product of products" class="col-md-6 col-lg-4 col-xl-3">
                                <div id="product-{{product.id}}" class="single-product">
                                        <div class="part-1">
                                                <a routerLink="/cafe/details/{{product.id}}">
                                                        <img [src]="getImageUrl(product)" alt="{{ product.name }}"
                                                                class="product-image">
                                                </a>
                                                <ul>
                                                        <li><a [routerLink]="['/cafe/order']"><i
                                                                class="fas fa-shopping-cart"></i></a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="part-2">
                                                <h2>{{product.name | modifyText : 'pizza' : '-discount(50%)'| modifyText : 'spagetty' : '(new product)' }}</h2>
                                                <h3 class="product-title">{{product.description | modifyText : 'pizza' : '-discount(50%)'| modifyText : 'spagetty' : '(new product)' }}</h3>
                                                <h4>{{ product.price | currency: 'USD' : 'symbol':'1.0-0' }}</h4>

                                        </div>
                                </div>
                        </div>

                </div>
        </div>
</section>