<footer id="footer" class="car-footer">
    <div class="car-footer footer-col">
        <div class="footer-col1">
            <div class="logo">
                <div class="logoname">
                    <i class='bx bxs-car'></i>
                    <span>FLASH AUTO</span>
                </div>
            </div>
            <div class="info">
                <p>Công ty TNHH Một thành viên</p>
                <div>
                    <b>MST/MSDN:</b>  0108926276 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 01/10/2019 và các lần thay đổi tiếp theo.
                </div>
                <div>
                    <b>Địa chỉ trụ sở chính:</b> Yên Hoà, Quận Cầu Giấy, Thành phố Hà Nội, Việt Nam.
                </div>
            </div>
        </div>
        <div class="footer-col2">
            <div class="cskh">
                <div class="hotline">
                    <div class="cskh-title">HOTLINE</div>
                    <div class="hotline-phone">
                        <i class='bx bxs-phone'></i>
                        <span>0987654321</span>
                    </div>
                    <div class="hotline-phone">
                        <i class='bx bxl-gmail' ></i>
                        <span>mothaibagmail.com</span>
                    </div>
                </div>
                <div class="connect-me">
                    <div class="cskh-title">Kết nối với tôi</div>
                    <i class='bx bxl-facebook-circle' ></i>
                    <i class='bx bxl-youtube' ></i>
                    <i class='bx bxl-instagram-alt' ></i>
                    <i class='bx bxl-twitter' ></i>
                </div>
            </div>
        </div>
    </div>
</footer>